{% load compress static wagtailuserbar navigation_tags %}
{% load tiny_hands_pac_utils %}
{% load settings_tags %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
     <head>
            <meta charset="utf-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %}</title>
            <meta name="description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}">
            <meta name="viewport" content="width=device-width, initial-scale=1" />
            <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
            <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>

            {% compress css %}
                <link rel="stylesheet" type="text/css" href="{% static 'libs/foundation-sites/dist/foundation.min.css' %}" media="all">
                <link rel="stylesheet" type="text/css" href="{% static 'libs/bxslider-4/dist/jquery.bxslider.min.css' %}" media="all">
                <link rel="stylesheet" href="{% static 'libs/font-awesome/css/font-awesome.min.css' %}" media="all">
                <link rel="stylesheet" type="text/css" href="{% static 'libs/lightbox2/src/css/lightbox.css' %}"  media="all"/>
                <link rel="stylesheet" type="text/x-scss" href="{% static 'css/app.scss' %}" media="all">
            {% endcompress %}

            {% block extra_css %}{% endblock %}

            {% include "utils/includes/facebook_opengraph.html" %}
            {% include "utils/includes/twitter_cards.html" %}
            {% include "utils/includes/google_analytics.html" %}
        </head>

        <body class="{% block body_class %}{% endblock %}">
            {% wagtailuserbar %}

            {% get_site_root as site_root %}
            {% top_menu parent=site_root calling_page=self %}

            {% breadcrumbs %}
            {% block content %}{% endblock %}

            <footer>
                <div class="footer-content">
                        <div class="social-links">
                            <a href="https://twitter.com/TrumpHandsPAC" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
                            <a href="https://www.facebook.com/donaldtrumphastinyhands" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
                        </div>
                        <div class="legal-disclaimer">Paid for by Americans Against Insecure Billionaires with Tiny Hands PAC. Not authorized by any candidate or candidate's committee.</div>
                </div>
            </footer>

            {% compress js %}
                <script src="{% static 'libs/jquery/dist/jquery.min.js' %}"></script>
                <script src="{% static 'libs/foundation-sites/dist/foundation.min.js' %}"></script>
                <script src="{% static 'libs/what-input/what-input.min.js' %}"></script>
                <script src="{% static 'libs/bxslider-4/dist/jquery.bxslider.min.js' %}"></script>
                <script src="{% static 'libs/lightbox2/src/js/lightbox.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
            {% endcompress %}

            {% block extra_js %}
                <script>
                  $(document).foundation();
                </script>
                <script>
                  $(document).ready(function(){
                      $('.bxslider').bxSlider();
                    });
                </script>
                <script>
                    $(document).ready(function() {
                        $('#faq .block-faq_question').click(function() {
                            $(this).next('.block-faq_answer').slideToggle(500);
                            $(this).toggleClass('close');
                        });
                    });
                </script>
                <script>
                    $('.reveal_modal').click(function(event) {
                        event.preventDefault();

                        $('#modal-content').empty();
                        var link = $(this).attr("href");
                        $('#modal-content').load(link + " .modal-content");
                    });
                </script>
            {% endblock %}
        </body>
    </html>
