@charset 'utf-8';

@import 'css/settings';
@import 'libs/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-menu-icon;

// Colors
$keppel: #101f28;
$boston_blue: #3299BB;
$eastern-blue: #238fb2;
$white: #fff;
$celeste: #ccc;
$tundora: #444;
$mine-shaft: #333;
$static: static;

// Fonts
$header-font-family: 'Montserrat', Helvetica, sans;
$body-font-family: 'Montserrat', Helvetica, sans;
$paragraph-font-family: 'Montserrat', Helvetica, sans;

$header-font-color: #555 !default;

body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.wrapper {
  min-height: 100%;
  position: relative;
}

// Responsive image/video classes
.rich-text img {
  max-width: 100%;
  height: auto;
}
.responsive-object {
  position: relative;
}
.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title-bar {
  background: #11232f;
}

#hands-logo {
  width: 67px;
  height: 50px;
  margin: 0 auto;
}
.front-hand {
  fill: #fff;
}
.back-hand {
  fill: #c44042;
}
.top-bar-left {
  text-align: center;
}
.menu-icon {
  width: 40px;
  height: 50px;
  outline: none;
}
.menu-icon::after {
  content: none;
}
.active .front-hand {
  fill: #778995;
}
.active .back-hand {
  fill: #354753;
}

@media screen and (min-width: 640px) {
  #hands-logo {
    width: 50px;
    height: 40px;
    margin: 0 0 0 5px;
  }
  #menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .top-bar-left {
    flex-grow: 1;
    padding: 10px 0 5px 10px;
    float: none;
    text-align: left;
  }
  .top-bar-right {
    flex-grow: 0;
    float: none;
  }
}

.js-drilldown-back > a::before {
  border-color: transparent #fff transparent
}

.top-bar  {
    padding: 0;

    li {
      font-size: 1rem;
    }
    li.menu-text{
      color: $white;
    }
    a {
      color: $white;
    }
    ul, .dropdown.menu .submenu {
      border: 0px;
    }
    .dropdown.menu .submenu {

    }
    .menu li:not(.menu-text) a {
      padding: 28px;
    }
    .menu li:last-of-type a {
      background: #c44042;
    }
    .menu.is-dropdown-submenu li:last-of-type a {
      background: transparent;
    }
    .menu li:not(.menu-text) a:hover {
      background: #031521;
    }
    .is-drilldown-submenu-parent>a::after {
      border-color: transparent transparent transparent $white;
      margin-top: 5px;
      border-color: $white transparent transparent;
      border-style: solid;
    }
    .js-drilldown-back::before {
      border-color: transparent $white transparent transparent;
    }
}

#menu li.is-dropdown-submenu-parent > a::after {
  right: 28px;
}
#menu li.is-dropdown-submenu-parent > a {
  padding-right: 2.8rem;
}


.off-canvas {
    a{color: $white;}
    .is-accordion-submenu-parent > a::after {border-color: #fff transparent transparent;}
}
.off-canvas-content {box-shadow: none;}
.off-canvas.position-left {
  height: 100%;
}

.active { background-color: $primary-color; }

.row{max-width: 68em;}

.breadcrumbs {
    margin: 20px 0 10px;
    background: #f6f6f6;
    border-radius: 15px;
    padding: 15px;
    a {color: $keppel;}
    .fa {
      color: #999;
      padding: 0 1em;
    }
}

.breadcrumbs li:not(:last-child):after {
  content: none;
}

.side-nav {
    margin-top: 15px;
    li {list-style: none;}
    a{display: block;padding: 5px 0;}
}

.list-style {li{list-style: none;}}

ul.share-buttons{list-style: none;padding: 0; margin:0; margin-bottom: 15px}
ul.share-buttons li{display: inline; margin-right: 5px;}
ul.share-buttons {
    .fa {margin-right: 8px;}
    .button.tiny {padding:8px 10px;font-size: 1rem;}
    .facebook {background: #3b5998;}
    .twitter {background: #00aced;}
    .google {background: #dd4b39;}
    .linkedin {background: #007bb6;}
    .pin {background: #cb2027;}
    .mail {background: #00bf8f;}
}

#share-buttons img {
width: 55px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}


/* Blocks */

section.WYSIWYG {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
  .responsive-object iframe {
    height: 84%;
  }
}
#content section.WYSIWYG {
  padding: 0;
}
.Hero {
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  padding: 150px 40px 40px;
  color: #fff;
  margin-top: -65px;
}
.hero-block {
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}
#hands-hero {
  width: 200px;
}
#hands-hero {
  width: 150px;
  margin-bottom: 80px;
}
.animate .st3 {
  transform-origin: 74% 50%;
  animation-name: flapping-left;
  animation-duration: 1s;
  animation-iteration-count: 5;
}
.animate .st4 {
  transform-origin: 26% 50%;
  animation-name: flapping-right;
  animation-duration: 1s;
  animation-iteration-count: 5;
}
#hands-hero:hover .st3, #hands-hero:hover .st4 {
  animation-iteration-count: infinite;
}
@keyframes flapping-left {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(20deg); }
    100% { transform: rotate(0deg); }
}
@keyframes flapping-right {
    0%   { transform: rotate(0deg); }
    50%  { transform: rotate(-20deg); }
    100% { transform: rotate(0deg); }
}
.hero-cta-block {
  padding: 0 40px;
}
.block-Column,
.block-Row {
  box-sizing: border-box;
}

@media screen and (min-width: 640px) {
  .block-Row .row-block-content, .Row .row-block-content {
    display: flex;
    margin: 0 auto;
  }
  .block-Column {
    flex-grow: 1;
    flex-basis: 0;
  }
  .Hero {
    margin-top: -72px;
  }
}

#donation-widget {
  max-width: 440px;
  color: #000;
}
.donation-widget-header {
  text-align: center;
  background: #3e98e6;
  padding: 10px;
}
.donation-tray {
  overflow-x: hidden;
  position: relative;
  height: 400px;
  border-top: 1px solid #CCC;
  background: #efefef;
}
.donation-hero-amounts {
  text-align: center;
  margin: 0;
}
.donation-hero-amounts li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
}
.donation-hero-amounts li a {
  border: 3px solid #3e98e6;
  text-align: center;
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-top: 5px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.3em;
  background-color: #3e98e6;
  color: #fff;
}
.donation-hero-amounts li a:hover {
  background: #fff;
  color: #3e98e6;
}
.donation-hero-amounts li a:active {
  background-color: #3e98e6;
  color: #fff;
}
.donation-hero-amounts li input {
  padding: 20px 10px 20px 35px;
  border-radius: 2px;
  border: 1px solid #CCC;
  width: 100%;
  font-size: 1.3em;
  font-weight: bold;
  color: #555;
  background: #fff;
}
.donation-hero-amounts li.custom-input-value::before {
  content: '$';
  position: absolute;
  margin-top: 1.3em;
  margin-left:1.1em;
  font-size: 1em;
}
.donation-tray-amount, .donation-tray-info, .donation-tray-thanks {
  width: 100%;
  height: 100%;
  position: absolute;
}
.donation-tray-amount {
  padding: 30px 15px 15px;
  left: 0%;
  position: absolute;
  transition: left 0.5s;
}
.donation-tray-info {
  margin: 0;
  padding: 30px;
  right: -100%;
  list-style: none;
  transition: right 0.5s;
}
.donation-tray-thanks {
  margin: 0;
  padding: 30px;
  right: -100%;
  list-style: none;
  transition: right 0.5s;
}
.donation-tray-info input {
  width: 100%;
  margin: 5px 0;
}
.donation-tray-info input.half {
  float: left;
  width: 49%;
  margin: 5px 0;
}
.donation-tray-info select.half {
  float: right;
  width: 49%;
  margin: 5px 0;
}
.info-active .donation-tray-info {
  right: 0%;
  transition: right 0.5s;
}
.donation-thanks .donation-tray-thanks {
  right: 0%;
  transition: right 0.5s;
}
.donation-thanks .donation-tray-info {
  left: -100%;
  transition: right 0.5s;
}
.info-active .donation-tray-amount {
  left: -100%;
  transition: left 0.5s;
}
.current-step {
  display: flex;
  justify-content: center;
  background: #fff;
  padding: 10px;
}
.current-step i {
  padding: 0 10px;
  color: rgba(0,0,0,0.33);
}
.current-step i:first-child {
  color: #3e98e6;
}
.info-active .current-step i:last-child {
  color: rgba(0,0,0,0.33);
}
.info-active .current-step i {
  color: #3e98e6;
}
.donation-thanks .current-step i, .info-active.donation-thanks .current-step i:last-child {
  color: #fff;
}
#donation-widget button {
  color: #fff;
  font-weight: bold;
  display: block;
  line-height: 4.23;
  width: 93%;
  margin: 25px auto 0;
  background: #c44042;
  font-size: 1.2em;
}
#donation-widget button i {
  padding-left: 8px;
  animation-name: gentle-nudge;
  animation-duration: 1s;
  animation-iteration-count: 3;
  animation-delay: 5s;
}
@keyframes gentle-nudge {
    0%   { padding-left: 8px; }
    50%  { padding-left: 12px; }
    100% { padding-left: 8px; }
}

#content {padding: 15px 0; }

.interior  {

}

.intro
{
  color: $white;
  padding: 50px 0px;
  background: -webkit-linear-gradient(90deg,#7474bf 1%,#5e9cd1 99%);
  background: -moz-linear-gradient(90deg,#7474bf 1%,#5e9cd1 99%);
  background: -ms-linear-gradient(90deg,#7474bf 1%,#5e9cd1 99%);
  background: -o-linear-gradient(90deg,#7474bf 1%,#5e9cd1 99%);
  background: linear-gradient(90deg,#7474bf 1%,#5e9cd1 40%);

  h3
   {
    font-size: 30px;
    font-weight: 800;
    line-height: 1;
    color: $white;
  }

  .rich-text
  {
    margin-bottom: 20px;
  }
}

#carousel
{
  margin-top: 60px;
}

.section
{
  padding: 20px 10px;
  color: $white;
  text-align: center;

  h3,h4,a {color: $white;}
  h3{font-weight: 500;}
  h4{margin-bottom :3px;}
}

#blog_list {
   hr:last-of-type {border:0px;}
   a p{color: #555;}
}

#tags
{
  a{color: #fff;}
}

#blog-rss
{
  float: right;
  color: #43b1b0;
}

#people {
    .people {
        text-align: center;
        img {border-radius: 3px; margin-bottom: 8px;}
        .panel {padding: 10px;}
    }
    #contact-info {
        li{list-style: none;}
    }
}


#news_feed
{
    h6, li {margin-bottom :5px;}
    li{list-style: none; font-size:14px; margin-bottom: 0px;}
    p{font-size: 14px; margin-bottom:10px;}
    hr {border-color: $celeste;}
    hr:last-of-type{border: 0px;}
    .button{margin-bottom:5px; padding:5px 8px; float: right;}
}

#event_feed
{
    margin-bottom: 25px;
    h6, p {margin : 0px;}
    .event{border: 1px solid $keppel; padding: 0;border-radius: 3px; margin-bottom: 10px;}
    h6{color: $keppel;}
    a p{color: $mine-shaft;}
    h6.date{color: $white; background:$keppel; padding: 5px 0; margin: 0;}
    .details {padding: 5px;}
}
#testimonials {
     .bx-wrapper .bx-viewport{background: transparent; border:0px; box-shadow: none;}
     img{float: left; margin-right: 10px; border-radius: 100%;}
     h3{color: $white;}
     h6,p,li {color: $keppel;}
     p{margin-top: 10px; margin-bottom: 10px; text-align: left; font-style: italic; font-size: 15px;}
     h6{text-align: right;}
     blockquote {border-left: 0px;}
}


.sitemap
{
  padding: 20px 0;
  background-color: $tundora;
  border-top: solid 1px $celeste;
  color: $white;

  .headline
  {
    display: block;
    margin: 10px 0 10px 0;
  }

  .headline h4
  {
    color: $white;
    margin: 0 0 -2px 0;
    padding-bottom: 5px;
    display: inline-block;
  }

  a{
    color: white;
    text-decoration: none;
  }

  a:hover{
    color: $eastern-blue;
    text-decoration: none;
    transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
  }

  h5 a{color: $keppel;}

  li{list-style: none;}
}

.contact-us
{
  padding: 10px 0;
}

footer {
  width: 100%;
  padding: 50px 0;
  background: transparent;

  .legal-disclaimer {
    margin: 50px 40px 0;
    border: 1px solid #000;
    padding: 10px 20px;
    text-align: center;
  }
  .social-links {
    text-align: center;
    font-size: 3em;
    letter-spacing: .25em;
  }
}

.vcard {
  border: 0px;
  padding: 0;
  margin-bottom: 0px;
}


.contact-head
{
  margin-bottom: 20px;
}
.nav-top
{

}


ul.side-nav {
     text-align: center;
     font-family: $header-font-family;
     li {
        margin-bottom: 4px;
        a:not(.button) {
            background: $keppel;
            border-radius: 2px;
            color: $white;
        }
        a:hover:not(.button){
            background: $eastern-blue;
            color: $white;
        }
    }
}

#sidebar {
    #news_feed
    {
        h6 a, li{color: $mine-shaft;}
        h6, li{text-align: center; margin-bottom: 6px;}
        p{display: none;}
        hr{border: 0px;}
        .news{border: 1px solid $keppel; border-radius: 5px; padding: 8px; margin-bottom:10px;}
        .rich-text{display: none;}
    }
}

#faq {
    .block-faq_answer {display:none;}
    .block-faq_question {
        background:url('/#{$static}/img/faq/open.png') right no-repeat;
        font-size: 15px;
        color: $keppel;
        padding: 12px 25px 12px 0;
        cursor:pointer;
        margin: 0;
        font-weight: 400;}
    .block-faq_question:hover {color: $boston_blue;}
    .block-faq_question.close {background-image:url('/#{$static}/img/faq/close.png');}
    .block-faq_question {border-top: 1px solid #ccc;}
    .block-faq_question:first-of-type {border: 0;}
}
