{% load wagtailcore_tags wagtailimages_tags %}
{% load settings_tags %}

<meta property="og:title" content="{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}"/>
<meta property="og:site_name" content="Americans Against Insecure Billionaires with Tiny Hands PAC"/>
<meta property="og:url" content="http://www.donaldtrumphastinyhands.com{{ page.url }}" />
<meta property="og:description" content="{% if self.search_description %}{{ self.search_description }}{% endif %}"/>
{% if self.feed_image %}
    {% image self.feed_image width-1200 as img %}
    <meta property="og:image" content="http://www.donaldtrumphastinyhands.com{{ img.url }}" />
{% endif %}
